---
layout: default
title: UIUC Theta Tau
---

<div id="home">
    <div id="hero"> <h1> hero </h1> </div>
    <div id="about"> <p> stuff </p> </div>
    <div>
        {% for item in site.brothers %}
        <h1> {{item.name}} </h1>
        <p> {{item.major}} </p>
        {% endfor %}
    </div>
    <div id="pledging"> <p> stuff </p> </div>
    <div id="contact"> <p> stuff </p> </div>
    <div id="exec"> <p> stuff </p> </div>
    <ul>
        {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
