#home {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}


@media screen and (min-width: 800px) {
    #home {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    #home {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
